<div class="banner inner-bg-w3" id="home">

</div>
<div class="container">
  <!-- team -->
  <div class="team" id="team">
    <div class="container">
      <h3 class="tittle-w3">Meet Our Team</h3>
      <div class="agile_team_grids row">
        <div class="col-md-3 agile_team_grid">
          <div class="agile_team_grid_main">
            <img src="assets/images/t1.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="agile_team_grid1">

            <h4>Jordan McDonald</h4>
            <span class="designation">Interpreter</span>
            <p class="para-w3l">Etiam quis quam auctor, cursus ipsum a, placerat dui. </p>
            <ul class="top-icons team-icon">
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 agile_team_grid">
          <div class="agile_team_grid1">

            <h4>Danielle Ryan</h4>
            <span class="designation">Tour Operator</span>
            <p class="para-w3l">Etiam quis quam auctor, cursus ipsum a, placerat dui. </p>
            <ul class="top-icons team-icon">
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="agile_team_grid_main">
            <img src="assets/images/t2.jpg" alt=" " class="img-responsive" />
          </div>
        </div>
        <div class="col-md-3 agile_team_grid">
          <div class="agile_team_grid_main">
            <img src="assets/images/t3.jpg" alt=" " class="img-responsive" />
          </div>
          <div class="agile_team_grid1">
            <h4>Keith Alexander</h4>
            <span class="designation">Hotel Manager</span>
            <p class="para-w3l">Etiam quis quam auctor, cursus ipsum a, placerat dui. </p>
            <ul class="top-icons team-icon">
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 agile_team_grid">
          <div class="agile_team_grid1">
            <h4>Brenda Foster</h4>
            <span class="designation">Tour Guide</span>
            <p class="para-w3l">Etiam quis quam auctor, cursus ipsum a, placerat dui. </p>
            <ul class="top-icons team-icon">
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="agile_team_grid_main">
            <img src="assets/images/t4.jpg" alt=" " class="img-responsive" />
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<!-- //team -->
