<div class="banner" id="home">
  <!-- header -->

  <!-- //header -->
  <!-- banner-text -->
  <div class="banner-text">
    <h2>Explore the Distant Corners of the World</h2>
  </div>
  <!-- gallery -->
  <div class="gallery-ban" id="gallery">
    <div class="container">
      <ul id="flexiselDemo1">
        <li>
          <div class="wthree_testimonials_grid_main">

            <img src="assets/images/p1.jpg" alt=" " class="img-responsive" />
          </div>
        </li>
        <li>
          <div class="wthree_testimonials_grid_main">

            <img src="assets/images/p2.jpg" alt=" " class="img-responsive" />
          </div>
        </li>
        <li>
          <div class="wthree_testimonials_grid_main">

            <img src="assets/images/p3.jpg" alt=" " class="img-responsive" />
          </div>
        </li>
        <li>
          <div class="wthree_testimonials_grid_main">

            <img src="assets/images/p4.jpg" alt=" " class="img-responsive" />
          </div>
        </li>
        <li>
          <div class="wthree_testimonials_grid_main">

            <img src="assets/images/p1.jpg" alt=" " class="img-responsive" />
          </div>
        </li>
        <li>
          <div class="wthree_testimonials_grid_main">

            <img src="assets/images/p2.jpg" alt=" " class="img-responsive" />
          </div>
        </li>
      </ul>

    </div>
  </div>
  <!-- //gallery -->


</div>
<!-- //banner -->
<!--about-->
<div class="about-section">
  <div class="container">
    <!---728x90!-->

    <h5 class="tittle-w3">About Us</h5>
    <!---728x90-!-->
    <div class="about-top">
      <h3 class="subheading-wthree">A Few Words About Us</h3>
      <p class="para-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tristique est, et egestas odio. Mauris ac tristique
        arcu, sed interdum risus.Integer quis tristique est, et egestas odio. Mauris ac tristique arcu, sed interdum risus.
      </p>
      <p>
        <a class="read" href="single.html">Read More</a>
      </p>
    </div>
  </div>

</div>
<!--//about-->

<!--count-->
<div class="count-agileits">
  <div class="count-grids">
    <h3 class="tittle-w3 white-clr">Our Stats</h3>
    <div class="count-bgcolor-w3ls row">
      <div class="col-md-4 count-grid">
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <div class="count hvr-bounce-to-bottom">
          <div class="numscroller counter">1052</div>
          <span></span>
          <h5>Partners</h5>
        </div>
      </div>
      <div class="col-md-4 count-grid">
        <i class="fa fa-users" aria-hidden="true"></i>
        <div class="count hvr-bounce-to-bottom">
          <div class="numscroller counter">372</div>
          <span></span>
          <h5>Amazing Tours</h5>
        </div>
      </div>
      <div class="col-md-4 count-grid">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <div class="count hvr-bounce-to-bottom">
          <div class="numscroller counter">105209</div>
          <span></span>
          <h5>Happy Clients</h5>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--count-->
<!--blogs-->
<div class="agile-blogs" id="blogs">
  <div class="container">
    <h3 class="tittle-w3">
      <span>Offered </span>Trips</h3>
    <div class="blog-grid agile-blog1">
      <div class="left-blog-contn1">
        <img src="assets/images/p1.jpg" alt="blog1">
        <h5 class="cost1">$800</h5>
      </div>
      <div class="text-w3">
        <h3 class="sub-head">4-Days Tour of Amsterdam and Zaanse Schans</h3>
        <p class="para-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.Ut enim ad minim veniam.</p>
        <ul>
          <li>
            <span class="fa fa-map-marker" aria-hidden="true"></span> Amsterdam / The Netherlands</li>
          <li>
            <span class="fa fa-clock-o" aria-hidden="true"></span>4 days - 3 nights</li>
        </ul>
        <div class="clearfix"></div>
        <a class="read" href="single.html">Read More</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="blog-grid agile-blog2">
      <div class="left-blog-contn2">
        <img src="assets/images/p3.jpg" alt="blog1">
        <h5 class="cost2">$750</h5>
      </div>
      <div class="text-w3l">
        <h3 class="sub-head">3-Day Normandy, St Malo, Mont Saint-Michel Tour from Paris</h3>
        <p class="para-w3l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.Ut enim ad minim veniam.</p>
        <ul>
          <li>
            <span class="fa fa-map-marker" aria-hidden="true"></span> France / Paris</li>
          <li>
            <span class="fa fa-clock-o" aria-hidden="true"></span>3 days - 2 nights</li>
        </ul>
        <div class="clearfix"></div>
        <a class="read" href="single.html">Read More</a>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--//blogs-->

<!-- Newsletter -->
<div class="w3layouts_newsletter_right">
  <div class="container row">
    <div class="col-md-4 n-left">
      <h6>Newsletter</h6>
    </div>
    <div class="col-md-8 n-right">
      <form action="#" method="post">
        <div class="input-flds">
          <input type="text" name="Name" placeholder="Name" required="">
        </div>
        <div class="input-flds">
          <input type="email" name="Email" placeholder="Email" required="">
        </div>
        <div class="input-flds">
          <input type="submit" value="Subscribe">
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //Newsletter -->


