<!-- banner -->
<div class="banner inner-bg-w3" id="home">

</div>
<div class="container">
  <h2 class="tittle-w3">Gallery</h2>
  <div class="gallery-grids d-flex flex-wrap">
    <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
      <div class="grid">
        <figure class="effect-apollo">
          <a class="example-image-link" href="assets/images/g1.jpg" data-lightbox="example-set" data-title="">
            <img src="assets/images/g1.jpg" alt="" />
            <figcaption>
              <h3>Location</h3>
              <p>Lively Ride</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
    <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
      <div class="grid">
        <figure class="effect-apollo">
          <a class="example-image-link" href="assets/images/g2.jpg" data-lightbox="example-set" data-title="">
            <img src="assets/images/g2.jpg" alt="" />
            <figcaption>
              <h3>Location</h3>
              <p>Lively Ride</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
    <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
      <div class="grid">
        <figure class="effect-apollo">
          <a class="example-image-link" href="assets/images/g3.jpg" data-lightbox="example-set" data-title="">
            <img src="assets/images/g3.jpg" alt="" />
            <figcaption>
              <h3>Location</h3>
              <p>Lively Ride</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
    <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
      <div class="grid">
        <figure class="effect-apollo">
          <a class="example-image-link" href="assets/images/g4.jpg" data-lightbox="example-set" data-title="">
            <img src="assets/images/g4.jpg" alt="" />
            <figcaption>
              <h3>Location</h3>
              <p>Lively Ride</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
    <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
      <div class="grid">
        <figure class="effect-apollo">
          <a class="example-image-link" href="assets/images/g5.jpg" data-lightbox="example-set" data-title="">
            <img src="assets/images/g5.jpg" alt="" />
            <figcaption>
              <h3>Location</h3>
              <p>Lively Ride</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
    <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
      <div class="grid">
        <figure class="effect-apollo">
          <a class="example-image-link" href="assets/images/g6.jpg" data-lightbox="example-set" data-title="">
            <img src="assets/images/g6.jpg" alt="" />
            <figcaption>
              <h3>Location</h3>
              <p>Lively Ride</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
    <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
      <div class="grid">
        <figure class="effect-apollo">
          <a class="example-image-link" href="assets/images/g7.jpg" data-lightbox="example-set" data-title="">
            <img src="assets/images/g7.jpg" alt="" />
            <figcaption>
              <h3>Location</h3>
              <p>Lively Ride</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
    <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
      <div class="grid">
        <figure class="effect-apollo">
          <a class="example-image-link" href="assets/images/g8.jpg" data-lightbox="example-set" data-title="">
            <img src="assets/images/g8.jpg" alt="" />
            <figcaption>
              <h3>Location</h3>
              <p>Lively Ride</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
    <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
      <div class="grid">
        <figure class="effect-apollo">
          <a class="example-image-link" href="assets/images/g9.jpg" data-lightbox="example-set" data-title="">
            <img src="assets/images/g9.jpg" alt="" />
            <figcaption>
              <h3>Location</h3>
              <p>Lively Ride</p>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
