<!-- Footer -->
<div class="w3ls_address_mail_footer_grids">
  <div class="container row">
    <div class="col-sm-4 w3ls_footer_grid_left">
      <h5 class="sub-head">Address</h5>
      <p>Northways Rd Churchill VIC
        <span>3842 Australia.</span>
      </p>
    </div>
    <div class="col-sm-4 w3ls_footer_grid_left">
      <h5 class="sub-head">Contact Us</h5>
      <p>+(012) 345 6789
        <span>+(012) 678 3459</span>
      </p>
    </div>
    <div class="col-sm-4 w3ls_footer_grid_left">
      <h5 class="sub-head">Mail Us</h5>
      <p>
        <a href="mailto:info@example.com">info@example1.com</a>
        <span>
          <a href="mailto:info@example.com">info@example2.com</a>
        </span>
      </p>
    </div>
    <div class="clearfix"> </div>
    <h6 class="footer-logo col-12">

      <img src="assets/images/logo-bonorum-white.png" height="80" alt="">
    </h6>
    <div class="w3l-social col-12">
      <ul>
        <li>
          <a href="#" class="fa fa-facebook"></a>
        </li>
        <li>
          <a href="#" class="fa fa-twitter"></a>
        </li>
        <li>
          <a href="#" class="fa fa-google-plus"></a>
        </li>
        <li>
          <a href="#" class="fa fa-instagram"></a>
          <li>
            <li>
              <a href="#" class="fa fa-linkedin"></a>
              <li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="copyright-wthree">
  <div class="container">
    <p>&copy; 2018 Lively Ride . All Rights Reserved | Design by
      <a href="http://w3layouts.com/"> W3layouts </a>
    </p>
  </div>
</div> -->
<!-- //Footer -->
